doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='icon', href='/images/favicon.png')
    link(rel='iconLogin', href='/images/PersonCircle.png')
  body
    block content
